In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [2]:
df = pd.read_csv('data111_renamed_cols.csv')

In [3]:
df.head()

,Unnamed: 0,city_county,zipcode,year_of_birth,age_range,used_info_devices_past_yesno,time_since_last_use,3months_use_per_week,email_outside_work_yesno,3months_product_service_lookup,...,education_level,employment_industry,employment_position,work_need_internet_percentage,replaced_by_AI_yesno,receive_work_messages_after_hours,ethnic_background,gender,wei,wei2
0,0,21,892,73,4,1,1,1,1,1,...,8,16,3,100,2,1,3,2,0.8850,0.139919
1,1,13,621,84,3,1,1,1,2,1,...,8,15,3,50,4,2,3,2,1.4510,0.797905
2,2,3,334,80,4,1,1,1,1,1,...,7,3,5,100,4,1,3,1,1.1987,1.735837
3,3,9,363,86,3,1,1,1,1,1,...,7,19,8,10,3,2,1,2,1.5601,0.910474
4,4,17,950,44,8,1,1,2,1,1,...,7,23,99,999,99,99,3,1,0.2981,0.069487

In [4]:
df = df[['age_range', '3months_use_per_week', 'life_satisfaction_0to10']]

In [5]:
df = df.dropna()
df = df[~(df['age_range'] == 98)]
df = df[~(df['3months_use_per_week'].isin([ 98, 99]))]
df = df[~(df['life_satisfaction_0to10'] == 98)]

In [6]:
df.shape

(11617, 3)

In [7]:
df.to_csv('data111_cleaned.csv', index=False)

Empty DataFrame
Columns: [age_range, 3months_use_per_week, life_satisfaction_0to10]
Index: []